/* CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* ======= Font Family ======= */

body {
    font-family: 'Poppins', sans-serif;
}

/* ======= Header & Navbar ======= */

header,footer {
    background: #1f2937;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}


.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 100px;
    padding: 50px 0;
}

.hero-container img,.hero-container .hero-txt {
    max-width: 500px;
}

.hero-txt {
    line-height: 1.2;
}

.hero-txt p {
    margin: 10px 0;
}

h1 {
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

.hero-txt p,ul li {
    font-size: 18px;
    color: #e5e7eb;
}

ul {
    display: flex;
    gap: 18px;
}

li a {
    text-decoration: none;
    color: #f9faf8;
}

button {
    background: #3882f6;
    color: #fff;
    border-radius: 10%;
    padding: 10px 40px;
}

/* ======= Information Section ======= */

main {
    text-align: center;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
    padding: 50px 0;
}

.info {
    display: flex;
    justify-content: center;
    gap: 36px;
    margin-bottom: 100px;
}

.item {
    max-width: 200px;
}

.item img {
    max-width: 200px;
    border-radius: 10%;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937;
    padding: 100px;
    display: flex;
    justify-content: center;
}

.quote div {
    width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: start;
}

.quote div p {
    text-align: start;
}

.quote div span {
    align-self: end;
    font-size: 24px;
    font-weight: 800;
}

.action-container {
    display: flex;
    justify-content: center;
}

.action {
    background: #3882f6;
    display: flex;
    justify-content: space-between;
    margin: 100px;
    width: 50%;
    padding: 50px 100px;
    border-radius: 10px;
    color: #fff;
    text-align: start;
}

.action button {
    border: 1px solid #fff;
}

h4 {
    font-weight: bold;
    font-size: 24px;
}

.action div p {
    font-size: 18px;
}

/* ======= Footer ======= */

footer {
    color: #f9faf8;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}